In [11]:
import pandas as pd

In [49]:
col_names = ['Geographic name', 'Estimate Total', 'Margin of Error Total', 'Estimate Total: White', 'Margin of Error: White', 'Estimate Total: Black',
            'Margin of Error: Black', 'Estimate Total: Native', 'Margin of Error: Native', 'Estimate Total: Asian', 'Margin of Error: Asian', 'Estimate Total: Hawaiian/PI', 'Margin of Error: Hawaiian/PI',
            'Estimate Total: Other', 'Margin of Error: Other', 'Estimate Total: 2+', 'Margin of Error: 2+',]
county_race = pd.read_csv("county_racial.csv", names = col_names, usecols = list(range(1,18)))
county_race = county_race.iloc[2:]
county_race.head()
#note: margin of error total is empty: could probably find a dataset with total populations?? and merge in 
#note 2: the dataset has a lot of detailed columns at the end that i just cut off because not sure how important - 
#like 2 races including/not including other

,Geographic name,Estimate Total,Margin of Error Total,Estimate Total: White,Margin of Error: White,Estimate Total: Black,Margin of Error: Black,Estimate Total: Native,Margin of Error: Native,Estimate Total: Asian,Margin of Error: Asian,Estimate Total: Hawaiian/PI,Margin of Error: Hawaiian/PI,Estimate Total: Other,Margin of Error: Other,Estimate Total: 2+,Margin of Error: 2+
2,"Baldwin County, Alabama",223234,*****,190912,2259,18338,1834,2428,1195,2160,733,0,206,4685,2280,4711,2205
3,"Calhoun County, Alabama",113605,*****,82323,1330,25226,1306,201,243,225,211,85,130,3186,1802,2359,1184
4,"Cullman County, Alabama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"DeKalb County, Alabama",71513,*****,59305,1375,688,434,792,740,17,29,339,405,8327,1548,2045,913
6,"Elmore County, Alabama",81209,*****,61634,311,17768,410,204,210,884,206,0,206,216,259,503,381

In [50]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [51]:
county_covid_deaths = pd.read_csv("Provisional_COVID-19_Death_Counts_by_County_and_Race.csv")
#want to merge county name and state into one column titled "geographic name" to merge with county_race 
#convert state to full name 
county_covid_deaths['State'] = county_covid_deaths['State'].map(states).fillna(county_covid_deaths['State'])
#merge columns
county_covid_deaths['State'] = county_covid_deaths["County Name"] + ", " + county_covid_deaths['State']
county_covid_deaths = county_covid_deaths.drop('County Name', 1)
#same column name
county_covid_deaths.rename(columns={"State": "Geographic name"}, inplace = True)
county_covid_deaths.head()

,Data as of,Start Date,End Date,Geographic name,Urban Rural Code,FIPS State,FIPS County,FIPS Code,Indicator,Total deaths,COVID-19 Deaths,Non-Hispanic White,Non-Hispanic Black,Non-Hispanic American Indian or Alaska Native,Non-Hispanic Asian,Non-Hispanic Native Hawaiian or Other Pacific Islander,Hispanic,Other,Urban Rural Description,Footnote
0,03/24/2021,01/01/2020,03/20/2021,"Anchorage Municipality, Alaska",3,2,20,2020,Distribution of all-cause deaths (%),2713,185,0.578,0.046,0.212,0.058,0.029,0.032,0.046,Medium metro,NaN
1,03/24/2021,01/01/2020,03/20/2021,"Anchorage Municipality, Alaska",3,2,20,2020,Distribution of COVID-19 deaths (%),2713,185,0.324,NaN,0.335,0.146,0.086,NaN,NaN,Medium metro,Data based on counts less than 10 suppressed
2,03/24/2021,01/01/2020,03/20/2021,"Anchorage Municipality, Alaska",3,2,20,2020,Distribution of population (%),2713,185,0.556,0.052,0.081,0.095,0.026,0.091,0.099,Medium metro,NaN
3,03/24/2021,01/01/2020,03/20/2021,"Baldwin County, Alabama",4,1,3,1003,Distribution of all-cause deaths (%),2851,243,0.902,0.078,NaN,NaN,NaN,0.013,NaN,Small metro,Data based on counts less than 10 suppressed
4,03/24/2021,01/01/2020,03/20/2021,"Baldwin County, Alabama",4,1,3,1003,Distribution of COVID-19 deaths (%),2851,243,0.860,0.115,NaN,NaN,NaN,NaN,NaN,Small metro,Data based on counts less than 10 suppressed

In [53]:
comb = pd.merge(county_race, county_covid_deaths, on = "Geographic name")
comb

,Geographic name,Estimate Total,Margin of Error Total,Estimate Total: White,Margin of Error: White,Estimate Total: Black,Margin of Error: Black,Estimate Total: Native,Margin of Error: Native,Estimate Total: Asian,...,COVID-19 Deaths,Non-Hispanic White,Non-Hispanic Black,Non-Hispanic American Indian or Alaska Native,Non-Hispanic Asian,Non-Hispanic Native Hawaiian or Other Pacific Islander,Hispanic,Other,Urban Rural Description,Footnote
0,"Baldwin County, Alabama",223234,*****,190912,2259,18338,1834,2428,1195,2160,...,243,0.902,0.078,NaN,NaN,NaN,0.013,NaN,Small metro,Data based on counts less than 10 suppressed
1,"Baldwin County, Alabama",223234,*****,190912,2259,18338,1834,2428,1195,2160,...,243,0.860,0.115,NaN,NaN,NaN,NaN,NaN,Small metro,Data based on counts less than 10 suppressed
2,"Baldwin County, Alabama",223234,*****,190912,2259,18338,1834,2428,1195,2160,...,243,0.832,0.086,0.007,0.011,0.001,0.047,0.017,Small metro,NaN
3,"Calhoun County, Alabama",113605,*****,82323,1330,25226,1306,201,243,225,...,274,0.819,0.167,NaN,NaN,NaN,0.008,NaN,Small metro,Data based on counts less than 10 suppressed
4,"Calhoun County, Alabama",113605,*****,82323,1330,25226,1306,201,243,225,...,274,0.792,0.197,NaN,NaN,NaN,NaN,NaN,Small metro,Data based on counts less than 10 suppressed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933,"Laramie County, Wyoming",99500,*****,88060,1452,1845,895,1872,851,1002,...,117,0.752,NaN,NaN,NaN,NaN,0.197,NaN,Small metro,Data based on counts less than 10 suppressed
1934,"Laramie County, Wyoming",99500,*****,88060,1452,1845,895,1872,851,1002,...,117,0.785,0.022,0.006,0.012,0.001,0.149,0.024,Small metro,NaN
1935,"Natrona County, Wyoming",79858,*****,74769,550,1024,677,840,445,787,...,174,0.910,0.008,0.035,NaN,NaN,0.042,NaN,Small metro,Data based on counts less than 10 suppressed
1936,"Natrona County, Wyoming",79858,*****,74769,550,1024,677,840,445,787,...,174,0.810,NaN,0.121,NaN,NaN,0.057,NaN,Small metro,Data based on counts less than 10 suppressed
1937,"Natrona County, Wyoming",79858,*****,74769,550,1024,677,840,445,787,...,174,0.862,0.012,0.010,0.008,0.001,0.087,0.019,Small metro,NaN