In [4]:
import pandas as pd

In [10]:
col_names = ['Geographic name', 'Name', 'Estimate Total', 'Margin of Error Total', 'Estimate Total: White', 'Margin of Error: White', 'Estimate Total: Black',
            'Margin of Error: Black', 'Estimate Total: Native', 'Margin of Error: Native', 'Estimate Total: Hawaiian/PI', 'Margin of Error: Hawaiian/PI',
            'Estimate Total: Other', 'Margin of Error: Other', 'Estimate Total: 2+', 'Margin of Error: 2+',]
county_race = pd.read_csv("county_racial.csv", names = col_names, usecols = list(range(1,17)))
county_race = county_race.iloc[2:]
county_race.head()

,Geographic name,Name,Estimate Total,Margin of Error Total,Estimate Total: White,Margin of Error: White,Estimate Total: Black,Margin of Error: Black,Estimate Total: Native,Margin of Error: Native,Estimate Total: Hawaiian/PI,Margin of Error: Hawaiian/PI,Estimate Total: Other,Margin of Error: Other,Estimate Total: 2+,Margin of Error: 2+
2,"Baldwin County, Alabama",223234,*****,190912,2259,18338,1834,2428,1195,2160,733,0,206,4685,2280,4711
3,"Calhoun County, Alabama",113605,*****,82323,1330,25226,1306,201,243,225,211,85,130,3186,1802,2359
4,"Cullman County, Alabama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"DeKalb County, Alabama",71513,*****,59305,1375,688,434,792,740,17,29,339,405,8327,1548,2045
6,"Elmore County, Alabama",81209,*****,61634,311,17768,410,204,210,884,206,0,206,216,259,503

In [3]:
county_covid_deaths = pd.read_csv("Provisional_COVID-19_Death_Counts_by_County_and_Race.csv")
county_covid_deaths.head()

,Data as of,Start Date,End Date,State,County Name,Urban Rural Code,FIPS State,FIPS County,FIPS Code,Indicator,...,COVID-19 Deaths,Non-Hispanic White,Non-Hispanic Black,Non-Hispanic American Indian or Alaska Native,Non-Hispanic Asian,Non-Hispanic Native Hawaiian or Other Pacific Islander,Hispanic,Other,Urban Rural Description,Footnote
0,03/24/2021,01/01/2020,03/20/2021,AK,Anchorage Municipality,3,2,20,2020,Distribution of all-cause deaths (%),...,185,0.578,0.046,0.212,0.058,0.029,0.032,0.046,Medium metro,NaN
1,03/24/2021,01/01/2020,03/20/2021,AK,Anchorage Municipality,3,2,20,2020,Distribution of COVID-19 deaths (%),...,185,0.324,NaN,0.335,0.146,0.086,NaN,NaN,Medium metro,Data based on counts less than 10 suppressed
2,03/24/2021,01/01/2020,03/20/2021,AK,Anchorage Municipality,3,2,20,2020,Distribution of population (%),...,185,0.556,0.052,0.081,0.095,0.026,0.091,0.099,Medium metro,NaN
3,03/24/2021,01/01/2020,03/20/2021,AL,Baldwin County,4,1,3,1003,Distribution of all-cause deaths (%),...,243,0.902,0.078,NaN,NaN,NaN,0.013,NaN,Small metro,Data based on counts less than 10 suppressed
4,03/24/2021,01/01/2020,03/20/2021,AL,Baldwin County,4,1,3,1003,Distribution of COVID-19 deaths (%),...,243,0.860,0.115,NaN,NaN,NaN,NaN,NaN,Small metro,Data based on counts less than 10 suppressed